body {

}

.my-jumbotron-container {
  background-color: #fbe4cf;
padding-top: 15px;
padding-bottom: 5px;
}

.my-jumbotron-right {
  padding-top: 20px;
}

.my-table {
  border: none;
}

th {
  text-align: center;
  padding-right: 10px;
}

td {
  text-align: left;
  font-weight: bold;
}

#my-result p {
  color: #c3002f;
  font-weight: bold;
  text-align: center;
}

.my-image-container {
  background-color: black;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
}
