body {
  /* Empty */
}

.my-jumbotron-container {
  background-color: #fbe4cf;
  padding-top: 15px;
  padding-bottom: 5px;
}

.my-jumbotron-right {
  padding-top: 20px 0 20px 10px;
}

.my-jumbotron-right table {
  margin: 0;
}

.my-table {
  border: none;
}

/* table { /* ?????????? */
  text-align: left;
} */

th {
  text-align: right;
  padding: 0 10px 0 0;
}

td {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 10px;
}

#my-result p {
  color: #c3002f;
  font-weight: bold;
  text-align: cemter;
}

.my-image-container {
  background-color: black;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
}
